{% extends "base.html" %}

{% block body %}
<form action="{{ url_for('first') }}" class="form-inline" method="post">
  <fieldset>
    <div class="form-group">
      <label class="sr-only" for="hashtag">hashtag</label>
      <input class="form-control" name="hashtag" placeholder="#trend" type="text"/>
    </div>
    <div class="form-group">
      <label class="sr-only" for="number_of_tweets">number_of_tweets</label>
      <input class="form-control" name="number_of_tweets" placeholder="Number of Tweets" type="int"/>
    </div>
    <button class="btn btn-default" type="submit">Find Trend Starting Tweets!</button>
  </fieldset>
</form>

  {% if text %}
    <p>
      The first {{ number }} who tweeted with this hashtag are
    </p>
    {% for (user, tweet) in text %}
      <p>
        {{ user }}, {{ tweet }}
      </p>
    {% endfor %}

  {% endif %}
{% endblock %}
